//BASIC PAGE BLOCKS, DO NOT CHANGE ----------------------------------------------------------------------------->
.embroidery-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  flex: 0;
}

.emb-page__9 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//<----------------------------------------------------------------------------------------------------------
//here you can add blocks  -->


.emb-page__11{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  padding-bottom: 5%;
  padding-top: 10%;
  width: 30vw;

  @media screen and (min-width: 1500px) {
    max-width: 35vw;
  }
  @media screen and (max-width: 740px) {
    width: 100%;
    padding-top: 10%;
   }
}

.emb-page__10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding-top: 10%;
  


  @media screen and (min-width: 1500px) {
    max-width: 30vw;
  }
   @media screen and (max-width: 740px) {
    width: 100%;
    padding-top: 10%;
   }
}

.emb-page__8 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-start;
  width: 40vw;
  padding-top: 10%;
  padding-right: 10%;
  flex-shrink: 1;

  @media screen and (min-width: 1500px) {
    padding-right: 5%;
    max-width: 30vw;
  }
   @media screen and (max-width: 740px) {
    width: 100%;
    padding-right: 0;
    padding-top: 10%;

   }
}

.emb-page__7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
  
  padding-top: 20%;
  flex-shrink: 1;

  @media screen and (min-width: 1500px) {
    padding-left:5%;
    max-width: 32vw;
  }

   @media screen and (max-width: 740px) {
    width: 100%;
    padding-left: 0;
    align-self: center;
    padding-top: 10%;
    
   }
}

.emb-page__6 {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 30vw;
  padding-top: 15%;
  
  @media screen and (min-width: 1500px) {
    max-width: 32vw;
  }
   @media screen and (max-width: 740px) {
    width: 100%;
    padding-top: 10%;
   }
}

.emb-page__5 {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  width: 30vw;
  padding-top: 10%;
  padding-bottom: 10%;

  @media screen and (min-width: 1500px) {
    max-width: 35vw;
  }
   @media screen and (max-width: 740px) {
    width: 100%;
    padding-top: 10%;
   }

}



.emb-page__4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  padding-bottom: 30%;
  width: 30vw;

  @media screen and (min-width: 1500px) {
    max-width: 35vw;
  }
  @media screen and (max-width: 740px) {
    width: 100%;
    padding-top: 10%;
   }
}

//BASIC PAGE BLOCKS, DO NOT CHANGE ----------------------------------------------------------------------------->

.emb-page__3 {

  display: flex;
  justify-content: space-between;
  flex-shrink: 1;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

}

.emb-page__2 {


  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  height: auto;
  padding-top: 156px;
  padding-bottom: 180px;
  flex-shrink: 1;
  flex: 1;

  @media screen and (max-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media screen and (min-width: 1920px) {
    padding-top: 20vw;
    padding-bottom: 10vw;
   }
}
//<----------------------------------------------------------------------------------------------------------