.film-projects-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  flex: 0;
}

.film-projects-page__2 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  height: auto;
  padding-top: 156px;
  padding-bottom: 180px;
  flex-shrink: 1;
  flex: 1;

  @media screen and (max-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media screen and (min-width: 1920px) {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  @media screen and (max-width: 740px) {
    padding-bottom: 60px;
  }
}

.film-projects-page__3 {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;

  @media screen and (max-width: 740px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;

  }
}

.film-projects-page__3__1 {
  padding-top: 10px;
  width: 40%;

  @media screen and (max-width: 740px) {
    width: 100%;
  }
}

.film-projects-page__3__2 {
  width: 60%;

  @media screen and (max-width: 740px) {
    width: 100%;
  }
}

.film-projects-page__4 {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 5%;
  padding-bottom: 15%;
  flex-shrink: 1;
  width: 50vw;

  @media screen and (min-width: 1500px) {
    width: 35vw;
    }

  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.film-projects-page__5 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: 15%;
  flex-shrink: 1;
  width: 75vw;

  @media screen and (min-width: 1500px) {
    width: 35vw;
    }

  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.film-projects-page__6 {

  width: 50vw;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-bottom: 15%;
  padding-right: 5%;

  @media screen and (min-width: 1500px) {
    width: 35vw;
    }

  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
    padding-right: 0%;

  }
}

.film-projects-page__7 {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70vw;
  padding-top: 10%;
  padding-bottom: 10%;
  flex-shrink: 1;

  @media screen and (min-width: 1500px) {
    width: 35vw;
    }

  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.film-projects-page__8 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 60vw;
  padding-top: 10%;
  padding-bottom: 5%;
  flex-shrink: 1;
  align-self: flex-start;

  @media screen and (min-width: 1500px) {
    width: 35vw;
    }

  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.film-projects-page__9 {
  display: flex;
  flex-direction: column;
  height: auto;
  align-self: flex-end;
  width: 95vw;
  padding-top: 12%;
  padding-bottom: 10%;
  flex-shrink: 1;

  @media screen and (min-width: 1500px) {
    width: 35vw;
    }


  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.film-projects-page__10 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding-top: 5%;
  padding-bottom: 15%;
  flex-shrink: 1;
  width: 50vw;

  @media screen and (min-width: 1500px) {
    width: 35vw;
    }


  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.film-projects-page__11 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 70vw;
  align-self: center;
  padding-top: 12%;
  padding-bottom: 10%;
  flex-shrink: 1;
  @media screen and (min-width: 1500px) {
    width: 35vw;
    }


  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.film-projects-page__12 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 60vw;
  align-self: flex-end;
  padding-top: 5%;
  padding-bottom: 15%;
  flex-shrink: 1;

  @media screen and (min-width: 1500px) {
    width: 35vw;
    }


  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.film-projects-page__13 {
  display: flex;
  flex-direction: column;
  height: auto;
  align-self: center;
  width: 80vw;
  padding-top: 5%;
  padding-bottom: 15%;
  flex-shrink: 1;

  @media screen and (min-width: 1500px) {
    width: 35vw;
    }


  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.film-projects-page__14 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 60vw;
  align-self: flex-start;
  padding-top: 5%;
  padding-bottom: 10%;
  flex-shrink: 1;
  @media screen and (min-width: 1500px) {
    width: 35vw;
    }


  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.film-projects-page__15 {

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.film-projects-page__16 {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  width: 75%;
  align-self: center;
  padding-bottom:10%;
 
  @media screen and (min-width: 1500px) {
    width: 35vw;
    }
    @media screen and (max-width: 740px) {
      width: 100%;
      align-self: center;
      aspect-ratio: 16 / 9;
    }


}

.film-projects-page__17 {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  width: 75%;
  align-self: center;
  padding-bottom:10%;
  padding-top: 10%;

  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
    aspect-ratio: 16 / 9;
  }

}

.film-projects-page__16 iframe {
	border: none;
}
  
.film-projects-page__17 iframe {
  border: none;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}

.youtube-video__small{
  aspect-ratio: 16 / 9;
  width: 60%;
  @media screen and (max-width: 740px) {
    width: 100%;
    align-self: center;
  }
}