a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.01rem;
  line-height: 21px;
  padding-bottom: 0.1vw;
  display: inline-block;
  position: relative;

 
}


a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: rgb(22, 21, 21);
  transition: width 0.25s ease-out;
  width: 0;
}

a:hover:after {
  width: 100%;
  @media screen and (max-width: 740px) {
    width: 0%;
  }
}

a.logo {
  font-size: 55px;
  flex-wrap: nowrap;
  letter-spacing: -0.01em;
  line-height: 62.99px;
  text-align: start;
  z-index: 500;
  

  @media screen and (max-width: 875px) {
    font-size: 35px;
    line-height: 50px;
  }

  @media screen and (max-width: 600px) {
    font-size: 30px;
    line-height: 40px;
  }

  span {
    font-family: 'Times', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 65px;

    @media screen and (max-width: 875px) {
      font-size: 40px;
      line-height: 50px;
    }
    @media screen and (max-width: 600px) {
      font-size: 35px;
      line-height: 50px;
    }
  }

  
}

a.big {
  font-family: 'Inter', sans-serif;
  font-size: 125px;
  font-weight: 500;
  line-height: 151.28px;
  letter-spacing: -0.06em;
  text-align: left;

  @media screen and (max-width: 1300px) {
    font-size: 110px;
    line-height: 133px;
  }

  @media screen and (max-width: 1200px) {
    font-size: 100px;
    line-height: 123px;
  }

  @media screen and (max-width: 1080px) {
    font-size: 90px;
    line-height: 113px;
  }

  @media screen and (max-width: 875px) {
    font-size: 75px;
    line-height: 100px;
  }

  @media screen and (max-width: 740px) {
    font-size: 45px;
    line-height: 55px;
  }
}

a.big_span {
  font-size: 165px;
  font-family: 'Times', sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 180px;
  letter-spacing: -0.05em;
  text-align: right;
  // padding-right: 5vw;

 
  @media screen and (max-width: 1300px) {
    font-size: 130px;
    line-height: 145px;
  }

  @media screen and (max-width: 1200px) {
    font-size: 120px;
    line-height: 135px;
  }

  @media screen and (max-width: 1080px) {
    font-size: 100px;
    line-height: 115px;
  }

  @media screen and (max-width: 875px) {
    font-size: 80px;
    line-height: 100px;
  }

  @media screen and (max-width: 740px) {
    font-size: 50px;
    line-height: 65px;
  }
}

a.small_project {
  font-family: 'Inter', sans-serif;
  font-size: 90px;
  font-weight: 500;
  line-height: 95px;
  letter-spacing: -0.06em;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 70px;
    line-height: 85px;
  }

  @media screen and (max-width: 740px) {
    font-size: 45px;
    line-height: 60px;
  }
}

a.big:after,
a.big_span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3.5px;
  left: 0;
  position: absolute;
  background: rgb(22, 21, 21);
  transition: width 0.25s ease-out;
  width: 0;
}


a.big:hover:after {
  width: 100%;
  @media screen and (max-width: 740px) {
    width: 0%;
  }
}

a.big_span:hover::after {
  width: 100%;
  @media screen and (max-width: 740px) {
    width: 0%;
  }

}

a.page-base__link:after,
a.page-base__link:hover::after {
  text-decoration: none;
  background: none;
}




h2 {
 font-size: 17px;
}

p.heading {
  font-family: 'Inter', sans-serif;
  font-size: 125px;
  font-weight: 500;
  letter-spacing: -0.06em;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 100px;
  }

  @media screen and (max-width: 740px) {
    font-size: 65px;
  }

 

}

p.text-small {
  font-size: 17px;
  width: 40%;
  padding-top: 1%;



  @media screen and (max-width: 740px) {
    padding-bottom: 16px;
    width: 100%;

  }
}
.text-small__order{
  font-size: 17px;
  width: 100%;
  padding-top: 5%;
  text-align: center;

  

  @media screen and (max-width: 740px) {
    padding-bottom: 16px;
    width: 100%;

  }
}
p.text-big {
  width: 60vw;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 3.9vw;
  letter-spacing: -0.06em;
  text-align: left;


  @media screen and (max-width: 1024px) {
    font-size: 30px;
    line-height: 40px;
  }

  @media screen and (max-width: 740px) {
    width: 100%;
    text-align: left;

  }
}
.text-big__medium{
  width: 60vw;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 3.9vw;
  letter-spacing: -0.06em;
  text-align: right;


  @media screen and (max-width: 1024px) {
    font-size: 25px;
    line-height: 40px;
  }

  @media screen and (max-width: 740px) {
    width: 100%;
    text-align: left;

  }
}

p.news-name{
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.06em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  padding-top: 30px;
  @media screen and (max-width: 1024px) {
    font-size: 30px;
    padding-top: 0;
  }
}
p.case-name {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48.41px;
  letter-spacing: -0.06em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  padding-top: 30px;



  @media screen and (max-width: 1024px) {
    font-size: 30px;
    padding-top: 0;
  }
}

p.time-place {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(150, 150, 150, 1);
  padding-top: 10px;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    padding-top: 0;
  }

  
}

p.author{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(150, 150, 150, 1);
  padding-top: 10px;

  @media screen and (max-width: 1024px) {
    font-size: 14px;
    padding-top: 0;
  }
}

p.explication {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.01em;
  text-align: center;
  padding-top: 1.4vw;

  
}


p.heading-small {
  font-family: 'Inter', sans-serif;
  font-size: 90px;
  font-weight: 500;
  line-height: 95px;
  letter-spacing: -0.06em;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 75px;
    line-height: 90px;
  }

  @media screen and (max-width: 740px) {
    font-size: 50px;
    line-height: 65px;

  }

}

.heading-medium{
  font-family: 'Inter', sans-serif;
  font-size: 100px;
  font-weight: 500;
  line-height: 95px;
  letter-spacing: -0.06em;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 75px;
    line-height: 90px;
  }

  @media screen and (max-width: 740px) {
    font-size: 50px;
    line-height: 65px;

  }
}
p.quote {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 2vw;
  letter-spacing: -0.01em;
  text-align: center;

 
}

p.page-heading__blog {
  font-family: 'Inter', sans-serif;
  font-size: 90px;
  font-weight: 500;
  line-height: 6.5vw;
  letter-spacing: -0.06em;
  text-align: center;
  width: 47vw;

  

}


p.next {
  padding-bottom: 5%;
}

p.other_articles {
  padding-bottom: 20px;

  width: auto;

  
}


// tag
.tag__name {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  text-align: left;
  letter-spacing: -0.01em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  position: absolute;
  margin: 12px;
  width: 150px;
  height: 37px;
  background: white;
  border-radius: 200px;

 
  @media screen and (max-width: 740px) {
    font-size: 12px;
    height: 20px;
    width: 135px;
    margin-top: -30px;
    margin-left: 0px;
    padding: 0;
    background: none;
    color: rgba(150, 150, 150, 1);
    width: auto;
  }
}


.case-text{
font-family: 'Inter', sans-serif;
font-size: 17px;
font-weight: 500;
line-height: 25px;
letter-spacing: -0.01em;
text-align: left;

}

.text-big__center{
 width:100%;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 3.9vw;
  letter-spacing: -0.06em;
  text-align: center;


  @media screen and (max-width: 1024px) {
    font-size: 30px;
    line-height: 40px;
  }

  @media screen and (max-width: 740px) {
    width: 100%;
    text-align: left;

  }
}

